page-home {

    ion-title{
        text-align: center;
        background-color: paleturquoise !important;
    }

    ion-content{
        background-color:powderblue !important;
    }

    button{
        background-color:cadetblue !important;
    }
}
